<div class="navigation">
  <div class="nav-content">
    <div>
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
    </div>
    <div class="nav-items">
        {{#foreach navigation}}
          <div class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></div>
        {{/foreach}}
    </div>
  </div>
</div>
